{
    auto_https off
}
{$DOMAIN} {

	handle /api/* {
		reverse_proxy t1_hack_stack_backend:8000
	}
	handle /api_ml/* {
		reverse_proxy t1_hack_stack_ml:8010
	}
	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}