$background: #eff6f7;

$dark1: #0d2325;
$dark5: rgba(13, 35, 37, 0.1);
$totalBlack: #000000;

$accentColorLight: #19b6cb14;
$accentColor: #13a5b9;

$red: #ff4747;
$green: #19d545;

$fieldPrimary: #f1f4f4;
$white: #fff;
$primary3: #32c9dd;
$primary2: #19B6CB;
$primary6: #DEF2F4;