@for (column of kanban; track $index) {

    <div class="column">
        <div class="column-header">
            <div class="column-title">{{ column.status }}</div>       
            <div class="column-total">{{ column.tasks.length }}</div>
        </div>
        <div class="task-container">
            @for (task of column.tasks; track $index) {
                <div class="task">
                    <div class="task-title">{{ task.name }}</div>
                    <div class="task-assignee">{{ task.assignee }}</div>
                    <div class="task-type">{{ task.type }}</div>
                    <hr>
                    <div class="task-area">{{ task.area }}</div>
                </div>
            }
        </div>
    </div>
}