<div class="card">
    <div class="card-header">
        <h3 class="h8">Индикатор загруженности</h3>
    </div>

    <div class="card-title">{{ title }}</div>

    <div class="card-subtitle">{{ subtitle }}</div>

    <app-load-indicator-scale [value]="value"></app-load-indicator-scale>
    <div class="scale-subtitle-container">
        <div class="scale-subtitle scale-subtitle--left">Недостаточная</div>
        <div class="scale-subtitle scale-subtitle--center">Оптимальная</div>
        <div class="scale-subtitle scale-subtitle--right">Выше нормы</div>
    </div>
</div>