<div class="card-container">
    <app-chart-card [value]="1" title="Успещно закрытые спринты" [change]="3"></app-chart-card>
    <app-chart-card [value]="1" title="Успещно закрытые спринты" [change]="0"></app-chart-card>
    <app-chart-card [value]="1" title="Успещно закрытые спринты" [change]="-7"></app-chart-card>
</div>

<div class="main-container">
    <app-task-cycle-analysis></app-task-cycle-analysis>
    <div class="main-column">
        <app-load-indicator></app-load-indicator>
        <app-team-efficiency></app-team-efficiency>
    </div>
</div>