@import "variables";

.value {
  margin-right: 16px;
  line-height: 1;
}

.increase {
  color: $green;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.decrease {
  color: $red;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.null {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.card {
  flex-direction: column;
  height: 105px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: flex-end;
}

h2 {
  margin-bottom: 16px;
}
